{{ define "observation" }}
<div
  class="observation"
>
  <section class="observation-section id">
    <label class="observation-value observation-id">
      ID
      <input type="number" value="{{ .ID }}">
    </label>
  </section>
  <observation-canvas
    id="observation-{{.ID}}"
    width="500px"
    height="500px"
  >
  </observation-canvas>
  <observation-canvas-pallete
    for="observation-{{.ID}}"
    colorset="#ff0000,#00ff00,#0000ff"
    brushset="1,10,100"
  ></observation-canvas-pallete>
  <section class="observation-section geolocation">
    <h5>Geolocation</h5>
    <div>
      <label class="observation-value observation-latitude">
        Latitude
        <input type="number" value="{{ .Latitude }}">
      </label>
      <label class="observation-value observation-longitude">
        Longitude
        <input type="number" value="{{ .Longitude }}">
      </label>
    </div>
  </section>
  <section class="observation-section weather">
    <h5>Weather</h5>
    <div>
      <label class="observation-value observation-weather-code">
        Weather Code
        <input type="text" value="{{ .WeatherCode }}">
      </label>
      <section class="observation-subsection temperature">
        <h6>Temperature</h6>
        <div>
          <label class="observation-value observation-temp-c">
            °C
            <input type="number" value="{{ .TempC }}">
          </label>
          <label class="observation-value observation-temp-f">
            °F
            <input type="number" value="{{ .TempF }}">
          </label>
        </div>
      </section>
      <section class="observation-subsection precipitation">
        <h6>Precipitation</h6>
        <div>
          <label class="observation-value observation-humidity">
            Relative Humidity
            <input type="number" value="{{ .RelativeHumidity }}">
          </label>
          <label class="observation-value observation-rain">
            Rain
            <input type="number" value="{{ .Rain }}">
          </label>
          <label class="observation-value observation-snowfall">
            Snowfall
            <input type="number" value="{{ .Snowfall }}">
          </label>
        </div>
      </section>
    </div>
  </section>
  <section class="observation-section time">
    <h5>Time</h5>
    <div>
      <label class="observation-value observation-time-utc">
        Time (UTC)
        <input type="datetime-local" value="{{ asdateinputvalue .TimeUtc }}">
      </label>
      <label class="observation-value observation-time-local">
        Time (Local - {{.Timezone}})
        <input type="datetime-local" value="{{ asdateinputvalue .TimeLocal }}">
      </label>
    </div>
  </section>
</div>
{{ end }}
